@import "functions";
@import "variables";
@import "bootstrap";
@import "hamburgers";

html,
body {
  margin: 0;
  height: 100%;
  font-size: 12px;
}

a {
  color: opposite($theme-default-primary);

  &:active,
  &:hover {
    color: lighten(blue, 10%) !important;
  }
}

body {
  background: {
    image: url("../../images/banner-1.png");
    repeat: repeat-x;
    position: bottom center;
  };
  font-family: 'Miriam Libre', sans-serif;
  color: opposite($theme-default-primary);

  &[menu] {
    overflow: hidden;
  }
}

.box {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  display: table;

  &__top,
  &__middle,
  &__bottom {
    display: table-row;

    &__content {
      display: table-cell;
    }
  }

  &__middle {
    height: 100%;

    &__content {
      vertical-align: middle;
    }
  }
}

.navbar {
  margin: 2rem 0;
  padding: 0 .5rem;
  font-size: 1.2rem;

  &__infocorp {
    padding: 0 2px;
    width: 180px;

    &__brand {
      fill: #007AFF;
    }
  }

  &__title {
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
    display: none;
    @media (min-width: map_get($grid-breakpoints, 'md')) {
      & {
        display: block;
      }
    }
  }

  &__row {
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    padding: 0;
    list-style-type: none;
    display: none;
    @media (min-width: map_get($grid-breakpoints, 'md')) {
      & {
        display: inline-block;
      }
    }

    &__link {
      margin: 0 1rem;
      font-size: 1.6rem;
      display: none;
      @media (min-width: map_get($grid-breakpoints, 'md')) {
        & {
          display: inline-block;
        }
      }

      &__action {
        transition: color 200ms ease-in-out;

        &:hover {
          text-decoration: none;
        }

        &__description {
          font-size: .8rem;
          text-transform: uppercase;
          display: none;

          @media (min-width: map_get($grid-breakpoints, 'lg')) {
            & {
              display: block;
            }
          }
        }
      }
    }
  }

  &__hamburger {
    @media (min-width: map_get($grid-breakpoints, 'md')) {
      & {
        display: none;
      }
    }
  }

  &__menu {
    top: 0;
    left: 0;
    padding-left: 0;
    width: 100%;
    height: 100%;
    list-style-type: none;
    background: #1c1c1c;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    color: white;
    z-index: 998;
    display: none;

    [menu] & {
      display: flex;
    }

    &__row {
      align-items: center;
    }

    &__infocorp {
      top: 5%;
      left: 1%;
      height: 90%;
      position: absolute;
      z-index: 998;

      &__brand {
        fill: lighten(#1c1c1c, 2%);
      }
    }

    &__close {
      right: 0;
      bottom: 0;
      width: 150px;
      height: 150px;
      background: white;
      content: '';
      position: absolute;
      z-index: 998;
    }

    &__link {
      margin-left: 10%;
      width: 80%;
      text-align: left;
      z-index: 998;

      &__action {
        color: white;
        font-size: 2rem;
      }
    }
  }
}

@keyframes arrow__down__pulse {
  50% {
    transform: translateY(15px);
  }
}

.arrow {
  display: inline-block;

  &__down {
    margin-bottom: 15px;
    width: 50px;

    & > path {
      fill: opposite($theme-default-primary);
    }
  }
}

.beyond {
  padding: .2rem 0;
  background-color: rgba(opposite($theme-default-primary), .99);
  font-size: .8rem;
  text-align: right;
  color: $theme-default-primary;
  position: relative;
  z-index: 999;
  @media (min-width: map_get($grid-breakpoints, 'md')) {
    & {
      font-size: 1rem;
    }
  }
}
