// Variáveis para cores ...

$theme-default-primary: white;
$theme-default-secondary: opposite($theme-default-primary);

// Color pallete
$default-red: #ff5c73;
$default-blue: #5fa1f4;
$default-green: #6dd8af;
$default-yellow: #ffe159;