@import "common";

.home {
  &__header {
    height: 100%;
    background: transparent {
      image: url("../../images/banner-4.86a86274.png");
      repeat: repeat-x;
      position: center top;
    };
    color: $theme-default-secondary;
    position: relative;

    &:before {
      top: 0;
      left: 0;
      width: 95%;
      height: 100%;
      background: transparent url('../../svg/undraw_statistic_chart_38b6.svg') no-repeat 95% 95%;
      background-size: 80%;
      content: '';
      position: absolute;
      opacity: .7;
      @media (min-width: map_get($grid-breakpoints, 'md')) {
        & {
          background-size: 50%;
        }
      }
    }

    &__particles {
      top: 0;
      left: 0;
      position: absolute;
      z-index: -999;
      opacity: 1;
    }

    &__title {
      padding: 1rem;
      background: rgba(opposite($theme-default-primary), .99);
      border: 5px solid $theme-default-primary;
      font-size: 1.2rem;
      color: $theme-default-primary;
      @media (min-width: map_get($grid-breakpoints, 'md')) {
        & {
          font-size: 2rem;
        }
      }
    }

    &__subtitle {
      padding: .5rem;
      font-size: 1rem;
      background: white;
    }

    .arrow {
      .arrow__down {
        margin-bottom: 1rem;
      }
    }

    &[data-on] .arrow {
      .arrow__down {
        animation: arrow__down__pulse 2s linear 0s infinite normal none;
      }
    }
  }

  &__services {
    height: 70%;
    position: relative;

    &::before {
      top: 20%;
      left: 0;
      width: 100%;
      height: 60%;
      background: url("/../../images/dots-large.svg") repeat center center;
      content: '';
      position: absolute;
      z-index: -99;
    }

    &__title,
    &__subtitle,
    &__description {
      margin: .2rem;
      padding: .2rem;
      background: white;
    }

    &__title {
      background: #76e1f4;
      font-size: 1.1rem;
      font-weight: bold;
      display: inline-block;
    }

    &__subtitle {
      font-size: 2.5rem;
      font-weight: bold;
    }

    &__description {
      transition: all 0.4s ease-in-out;
    }

    &__link {
      font-weight: bold;
      color: darken(#76e1f4, 40%);
    }
  }

  &__who {
    height: 40%;

    &__square {
      padding-right: 1rem;
      padding-bottom: 1rem;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      position: relative;
    }

    &__title,
    &__subtitle,
    &__description {
      margin: 0;
      padding: .2rem;
      background: white;
    }

    &__title {
      background: #ff5c73;
      font-size: 1.1rem;
      font-weight: bold;
      display: inline-block;
    }

    &__subtitle {
      font-size: 2.5rem;
      font-weight: bold;
    }

    &__link {
      font-weight: bold;
      color: darken(#ff5c73, 30%);
    }
  }

  &__member {
    height: 50%;

    &__title,
    &__subtitle,
    &__description {
      margin: 0;
      padding: .2rem;
      background: white;
    }

    &__title {
      background: #5fa1f4;
      font-size: 1.1rem;
      font-weight: bold;
      display: inline-block;
    }

    &__subtitle {
      font-size: 2.5rem;
      font-weight: bold;
    }

    &__description {
      transition: all 0.4s ease-in-out;
    }

    &__link {
      font-weight: bold;
      color: darken(#5fa1f4, 30%);
    }
  }

  &__footer {
    text-align: center;
    position: relative;
    @media (min-width: map_get($grid-breakpoints, 'md')) {
      & {
        text-align: left;
      }
    }

    &:before {
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: black;
      content: '';
      position: absolute;
      z-index: -1;
    }

    &:after {
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background: black;
      content: '';
      position: absolute;
      z-index: -1;
    }

    &__container {
      padding-top: 2rem;
      padding-bottom: 2rem;
      background: black;
      text-align: inherit;
      color: white;

      &__row {
        align-items: center;
      }
    }

    &__infocorp,
    &__description,
    &__email {
      margin: 0;
      @media (max-width: map_get($grid-breakpoints, 'md')) {
        & {
          padding-right: .5rem;
          padding-left: .5rem;
        }
      }
    }

    &__infocorp {
      &__brand {
        width: 200px;
        fill: white;
      }
    }

    &__links {
      margin-top: 2rem;
      list-style-type: none;
      text-align: center;
      @media (min-width: map_get($grid-breakpoints, 'md')) {
        & {
          margin-top: 0;
          text-align: right;
        }
      }

      &__link {
        &__action {
          color: white;
        }
      }
    }

    &__created {
      margin-bottom: 0;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background: black;
      color: white;

      &__with {
        &__love {
          margin-left: .5rem;
          font-size: 2rem;
        }
      }
    }
  }
}
