@import "common";

// Seção da barra superior ...
.beyond {
  padding: .2rem 0;
  background-color: rgba(opposite($theme-default-primary), .99);
  text-align: right;
  color: $theme-default-primary;
  position: relative;
  z-index: -9;
}

.home {
  &__header {
    height: 100%;
    color: $theme-default-secondary;
    position: relative;

    &:before {
      top: 0;
      left: 0;
      width: 95%;
      height: 100%;
      background: transparent url('../../images/undraw_bookmarks_r6up.svg') no-repeat bottom right;
      background-size: 50%;
      content: '';
      position: absolute;
      opacity: .5;
    }

    &__particles {
      top: 0;
      left: 0;
      position: absolute;
      z-index: -999;
    }

    &__title {
      padding: .5rem;
      background: rgba(opposite($theme-default-primary), .99);
      border: 5px solid $theme-default-primary;
      font-size: 2.5rem;
      color: $theme-default-primary;
    }

    &__subtitle {
      padding: .5rem;
      font-size: 1rem;
      background: white;
    }

    .arrow {
      .arrow__down {
        margin-bottom: 1rem;
      }
    }

    &[data-on] .arrow {
      .arrow__down {
        animation: arrow__down__pulse 2s linear 0s infinite normal none;
      }
    }
  }

  &__services {
    height: 70%;
    // background: $theme-default-primary;
    position: relative;

    &::before {
      top: 20%;
      left: 0;
      width: 100%;
      height: 60%;
      background: url("../../images/dots-large.svg") repeat center center;
      content: "";
      position: absolute;
      z-index: -99;
    }

    &__title,
    &__subtitle,
    &__description {
      margin: .2rem;
      padding: .2rem;
      background: white;
    }

    &__title {
      background: #76e1f4;
      font-size: 1.1rem;
      font-weight: bold;
      display: inline-block;
    }

    &__subtitle {
      font-size: 2.5rem;
      font-weight: bold;
    }
  }

  &__who {
    height: 60%;

    &__square {
      position: relative;

      &:before {
        top: 0;
        right: -10%;
        padding: 5px;
        width: 100%;
        height: 140%;
        background: url("../../images/dots-small.svg");
        content: '';
        position: absolute;
        z-index: -1;
      }
    }

    &__title,
    &__subtitle,
    &__description {
      margin: 0;
      padding: .2rem;
      background: white;
    }

    &__title {
      background: #ff5c73;
      font-size: 1.1rem;
      font-weight: bold;
      display: inline-block;
    }

    &__subtitle {
      font-size: 2.5rem;
      font-weight: bold;
    }
  }

  &__member {
    height: 50%;

    &__title,
    &__subtitle,
    &__description {
      margin: 0;
      padding: .2rem;
      background: white;
    }

    &__title {
      background: #5fa1f4;
      font-size: 1.1rem;
      font-weight: bold;
      display: inline-block;
    }

    &__subtitle {
      font-size: 2.5rem;
      font-weight: bold;
    }
  }

  &__footer {
    padding: 2rem 0;
    min-height: 300px;
    background-color: opposite($theme-default-primary);
    color: $theme-default-primary;
  }
}