@import "common";

.team {
  &__header {
    $parent: &;

    &__badge {
      margin: 0;
      padding: .5rem;
      background: $default-red;
      font-size: 1rem;
      color: opposite($default-red);
      display: inline-block;
    }

    &__subtitle {
      width: 100%;
      height: 200px;
      position: relative;
      transition: all 1s ease-in-out;

      @media(min-width: map_get($grid-breakpoints, 'md')) {
        & {
          width: 600px;
          height: 380px;
        }
      }

      &:before {
        top: 100%;
        width: 100%;
        content: 'Alunos, profissionais  e professores';
        letter-spacing: 8px;
        font-weight: bold;
        text-transform: uppercase;
        color: $default-red;
        position: absolute;

        @media(min-width: map_get($grid-breakpoints, 'md')) and (max-width: map_get($grid-breakpoints, 'lg')) {
          & {
            width: 60%;
          }
        }

        @media(min-width: map_get($grid-breakpoints, 'lg') + 1) and (max-width: map_get($grid-breakpoints, 'xl')) {
          top: auto;
          bottom: 0;
          left: 101%;
          width: 40%;
        }

        @media(min-width: map_get($grid-breakpoints, 'xl') + 1) {
          & {
            top: auto;
            bottom: 0;
            left: 101%;
            width: 45%;
            font-size: 1.5rem;
          }
        }
      }

      &:after {
        bottom: 100%;
        width: 100%;
        content: 'Quem faz farte do time da Infocorp?';
        font-size: 2rem;
        font-weight: bold;
        position: absolute;
        transition: all 0.2s ease-in-out;

        @media(min-width: map_get($grid-breakpoints, 'lg') + 1) and (max-width: map_get($grid-breakpoints, 'xl')) {
          & {
            width: 150%;
            font-size: 3rem;
          }
        }

        @media(min-width: map_get($grid-breakpoints, 'xl') + 1) {
          & {
            top: 10%;
            width: 150%;
            right: -100%;
            font-size: 5rem;
          }
        }
      }

      &__image {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("/images/members.jpg") no-repeat center center;
        background-size: cover;
        position: absolute;
        opacity: .7;
        transition: transform 0.5s;
      }
    }
  }

  &__description {
    margin: 5rem 0;
    font-size: 1rem;

    &__title {
      font-size: 2rem;
    }

    &__member,
    &__diversity {
      font-size: 1.2rem;
    }
  }

  &__advantage {
    margin: 5rem 0;

    &__title {
      font-size: 3rem;
    }

    p {
      margin: 0;
      padding: 1.1rem 0;
      background: white;
      border-bottom: 1px solid #eee;
      font-size: 1.2rem;

      &:last-child {
        border: none;
      }

      b {
        letter-spacing: 4px;
        text-transform: uppercase;
      }
    }
  }

  &__opportunity {
    margin: 5rem 0;
    padding: 5rem 0;
    background: url("/images/dots-large.svg") repeat center center;

    &__row {
      align-items: center;
    }

    &__title {
      background: white;
      font-size: 2.5rem;
    }

    p {
      margin: 0;
      padding: 1.5rem 0;
      background: white;
      border-bottom: 1px solid #eee;
      font-size: 1.2rem;

      &:last-child {
        border: none;
      }

      b {
        letter-spacing: 4px;
        text-transform: uppercase;
        color: darken($default-red, 30%);
      }
    }
  }

  &__footer {
    padding: 2rem 0;
    font-size: 1rem;
    text-align: center;
    position: relative;
    @media (min-width: map_get($grid-breakpoints, 'md')) {
      & {
        text-align: left;
      }
    }

    &:before {
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: black;
      content: '';
      position: absolute;
      z-index: -1;
    }

    &:after {
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background: black;
      content: '';
      position: absolute;
      z-index: -1;
    }

    &__container {
      padding-top: 2rem;
      padding-bottom: 2rem;
      background: black;
      text-align: inherit;
      color: white;
    }

    &__infocorp,
    &__description,
    &__email {
      margin: 0;
      @media (max-width: map_get($grid-breakpoints, 'md')) {
        & {
          padding-right: .5rem;
          padding-left: .5rem;
        }
      }
    }

    &__infocorp {
      &__brand {
        margin-bottom: 1.5rem;
        width: 200px;
        fill: white;
      }
    }

    &__links {
      margin: 0 {
        top: 2rem
      };
      padding: 0;
      list-style-type: none;
      @media (min-width: map_get($grid-breakpoints, 'md')) {
        & {
          margin-top: 0;
        }
      }

      &__title {
        margin-bottom: 2rem;
        font-weight: 900;
        font-size: 1.5rem;
      }

      &__address,
      &__phone {
        margin: .5rem 0;
        font-size: 1.1rem;
      }

      &__link {
        margin: .5rem 0;
        font-size: 1.1rem;
        &__action {
          color: white;
        }
      }
    }

    &__created {
      margin-bottom: 0;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background: black;
      color: white;

      &__with {
        &__love {
          margin-left: .5rem;
          font-size: 2rem;
        }
      }
    }
  }
}
