@import "common";
@import "animation";

.service {
  &__header {
    height: 98%;
    position: relative;

    &__cube {
      animation: service_header_cube 3s ease-in-out 0s infinite;
    }

    &__title {
      font-size: 3.5rem;
      @media (max-width: map_get($grid-breakpoints, 'md')) {
        & {
          font-size: 2.5rem;
        }
      }
    }

    &__description {
      font-size: 1.2rem;
      padding-right: 2rem;
    }

    &__illustration {
      @media (max-width: map_get($grid-breakpoints, 'md')) {
        & {
          display: none;
        }
      }
    }

    &__image {
      width: 100%;
    }

    [on] &__arrow {
      animation: arrow_down 3s ease-in-out 0s infinite;
    }
  }

  &__services {
    margin-top: 5rem;
    padding: 10rem 0 2rem 0;

    &__service {
      margin: 15rem 0;

      &:first-child {
        margin-top: 0;
      }

      &__title {
        padding: .2rem 1rem;
        font-size: 2rem;
        font-weight: bold;
        background: white;
        border-radius: 15px;
        color: lighten(black, 50%);
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.08);
        display: inline-block;
        position: relative;

        &:before {
          top: -5rem;
          left: 0;
          font-size: 5rem;
          white-space: nowrap;
          color: lighten(black, 95%);
          content: attr(title);
          position: absolute;
          z-index: -1;
          display: none;
          @media (min-width: map_get($grid-breakpoints, 'md')) {
            & {
              display: block;
            }
          }
          @media (min-width: map_get($grid-breakpoints, 'lg')) {
            & {
              font-size: 10rem;
            }
          }
        }
      }

      &__box {
        position: relative;

        &__image {
          padding: 1rem;
          width: 100%;
        }

        &:after {
          top: 50%;
          left: 0;
          width: 100%;
          height: 80%;
          content: '';
          background: url("/images/dots-large.svg");
          position: absolute;
          z-index: -1;
        }
      }

      &__description {
        padding: 0 2rem 0 2rem;
        line-height: 2;
        font-size: 1.2rem;
      }
    }
  }

  &__footer {
    padding: 2rem 0;
    font-size: 1rem;
    text-align: center;
    position: relative;
    @media (min-width: map_get($grid-breakpoints, 'md')) {
      & {
        text-align: left;
      }
    }

    &:before {
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: black;
      content: '';
      position: absolute;
      z-index: -1;
    }

    &:after {
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background: black;
      content: '';
      position: absolute;
      z-index: -1;
    }

    &__container {
      padding-top: 2rem;
      padding-bottom: 2rem;
      background: black;
      text-align: inherit;
      color: white;

      &__row {

      }
    }

    &__infocorp,
    &__description,
    &__email {
      margin: 0;
      @media (max-width: map_get($grid-breakpoints, 'md')) {
        & {
          padding-right: .5rem;
          padding-left: .5rem;
        }
      }
    }

    &__infocorp {
      &__brand {
        margin-bottom: 1.5rem;
        width: 200px;
        fill: white;
      }
    }

    &__links {
      margin: 0 {
        top: 2rem
      };
      padding: 0;
      list-style-type: none;
      @media (min-width: map_get($grid-breakpoints, 'md')) {
        & {
          margin-top: 0;
        }
      }

      &__title {
        margin-bottom: 2rem;
        font-weight: 900;
        font-size: 1.5rem;
      }

      &__address,
      &__phone {
        margin: .5rem 0;
        font-size: 1.1rem;
      }

      &__link {
        margin: .5rem 0;
        font-size: 1.1rem;
        &__action {
          color: white;
        }
      }
    }

    &__created {
      margin-bottom: 0;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background: black;
      color: white;

      &__with {
        &__love {
          margin-left: .5rem;
          font-size: 2rem;
        }
      }
    }
  }
}
