@import "functions";
@import "variables";
@import "bootstrap";

html,
body {
  margin: 0;
  height: 100%;
}

a {
  color: opposite($theme-default-primary);
}

a:active,
a:hover {
  color: lighten(blue, 10%) !important;
}

body {
  // font-family: 'Lora', serif;
  // font-family: 'Niramit', sans-serif;
  font-family: 'Roboto Mono', monospace;
  color: opposite($theme-default-primary);
  position: relative;
}

.box {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  display: table;

  &__top,
  &__middle,
  &__bottom {
    display: table-row;

    &__content {
      display: table-cell;
    }
  }

  &__middle {
    height: 100%;

    &__content {
      vertical-align: middle;
    }
  }
}

.navbar {
  margin: 2rem 0;
  font-size: 1.2rem;

  &__infocorp {
    padding: 0 2px;
    width: 80px;
    background: opposite($theme-default-primary);

    > path {
      fill: $theme-default-primary;
    }
  }

  &__title {
    margin: 0;
  }

  &__row {
    align-items: center;

    &__right {
      text-align: right;
    }
  }

  &__links {
    padding: 0rem;
    list-style-type: none;

    &__link {
      margin: 0 .2rem;
      display: inline-block;
    }
  }
}

@keyframes arrow__down__pulse {
  50% {
    transform: translateY(15px);
  }
}

.arrow {
  display: inline-block;

  &__down {
    width: 50px;

    & > path {
      fill: opposite($theme-default-primary);
    }
  }
}

#particles {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -999;
}

// Seção da barra superior ...
.beyond {
  padding: .2rem 0;
  background-color: opposite($theme-default-primary);
  text-align: right;
  color: $theme-default-primary;
  position: relative;
  z-index: 999;
}

#canvas {
  width: 100%;
  height: 3px;
  z-index: -5;
}

// Seção inicial da página
.begin {
  height: 100%;
  // Define a cor para todo o container ...
  // background-color: $theme-default-primary;
  color: $theme-default-secondary;
  position: relative;

  &:before {
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    background: transparent url('../../images/undraw_bookmarks_r6up.svg') no-repeat bottom right;
    background-size: 50%;
    content: '';
    position: absolute;
    opacity: .5;
  }

  &__title {
    padding: .5rem;
    background: rgba(opposite($theme-default-primary), .99);
    border: 5px solid $theme-default-primary;
    font-size: 2.5rem;
    color: $theme-default-primary;
  }

  &__subtitle {
    padding: .5rem;
    font-size: 1rem;
    background: white;
  }

  .arrow {
    .arrow__down {
      margin-bottom: 1rem;
    }
  }

  &[data-on] .arrow {
    .arrow__down {
      animation: arrow__down__pulse 2s linear 0s infinite normal none;
    }
  }
}

.home {
  &__services {
    height: 70%;
    // background: $theme-default-primary;
    position: relative;

    &::before {
      top: 20%;
      left: 0;
      width: 100%;
      height: 60%;
      background: url("../../images/dots-large.svg") repeat center center;
      content: "";
      position: absolute;
      z-index: -99;
    }

    &__title,
    &__subtitle,
    &__description {
      margin: .2rem;
      padding: .2rem;
      background: white;
    }

    &__title {
      background: #76e1f4;
      font-size: 1.1rem;
      font-weight: bold;
      display: inline-block;
    }

    &__subtitle {
      font-size: 2.5rem;
      font-weight: bold;
    }
  }

  &__who {
    height: 60%;

    &__square {
      position: relative;

      &:before {
        top: 0;
        right: -10%;
        width: 100%;
        height: 140%;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOklEQVQoU43MSwoAMAgD0eT+h7ZYaOlHo7N+DNHL2HAGgBWcyGcKbqTghTL4oQiG6IUpOqFEC5bI4QD8PAoKd9j4XwAAAABJRU5ErkJggg==);
        // background: url("../../images/dots-small.svg") repeat center bottom;
        // border: 5px solid lighten(opposite($theme-default-primary), 95%);
        content: '';
        position: absolute;
        z-index: -1;
      }
    }

    &__title,
    &__subtitle,
    &__description {
      margin: 0;
      padding: .2rem;
      background: white;
    }

    &__title {
      background: #ff5c73;
      font-size: 1.1rem;
      font-weight: bold;
      display: inline-block;
    }

    &__subtitle {
      font-size: 2.5rem;
      font-weight: bold;
    }
  }

  &__member {
    height: 50%;

    &__title,
    &__subtitle,
    &__description {
      margin: 0;
      padding: .2rem;
      background: white;
    }

    &__title {
      background: #5fa1f4;
      font-size: 1.1rem;
      font-weight: bold;
      display: inline-block;
    }

    &__subtitle {
      font-size: 2.5rem;
      font-weight: bold;
    }
  }

  &__footer {
    padding: 2rem 0;
    min-height: 300px;
    background-color: opposite($theme-default-primary);
    color: $theme-default-primary;
  }
}


// PÁGINA NOSSO TIME

.team {
  &__header {
    $parent: &;

    &__box__middle,
    &__box__bottom {
      background: lighten($default-red, 45%);
    }

    &__badge {
      margin: 0;
      padding: .5rem;
      background: $default-red;
      font-size: 1rem;
      color: opposite($default-red);
      display: inline-block;
    }

    &__subtitle {
      // margin-left: 10%;
      width: 580px;
      height: 350px;
      position: relative;

      &__image {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../../images/members.jpg") no-repeat center center;
        background-size: cover;
        position: absolute;
        opacity: .7;
        transition: transform 0.5s;
      }

      &:before {
        bottom: 0;
        left: 101%;
        width: 40%;
        content: 'Alunos, profissionais  e professores';
        letter-spacing: 8px;
        font-weight: bold;
        color: $default-red;
        position: absolute;
      }

      &:after {
        top: 10%;
        right: -100%;
        width: 150%;
        content: 'Quem faz farte do time da Infocorp?';
        font-size: 5rem;
        font-weight: bold;
        position: absolute;
      }
    }
  }

  &__description {
    margin: 5rem 0;

    &__title {
      font-size: 2rem;
    }
  }

  &__advantage {
    margin: 5rem 0;

    &__title {
      font-size: 3rem;
    }

    p {
      margin: 0;
      padding: 1.1rem 0;
      background: white;
      border-bottom: 1px solid #eee;

      &:last-child {
        border: none;
      }

      b {
        letter-spacing: 4px;
      }
    }
  }

  &__opportunity {
    margin: 5rem 0;
    padding: 5rem 0;
    background: url("../../images/dots-large.svg") repeat center center;

    &__row {
      align-items: center;
    }

    &__title {
      background: white;
      font-size: 2.5rem;
    }

    p {
      margin: 0;
      padding: 1.5rem 0;
      background: white;
      border-bottom: 1px solid #eee;

      &:last-child {
        border: none;
      }

      b {
        letter-spacing: 4px;
        color: $default-red;
      }
    }
  }
}

// PÁGINA SOBRE

.about {
  &__header {
    &__title,
    &__subtitle {
      margin: 0;
      font-weight: bold;
    }

    &__title {
      padding: .5rem;
      background: $default-red;
      font-size: 1.2rem;
      display: inline-block;
    }

    &__subtitle {
      font-size: 4rem;
      text-transform: uppercase
    }
  }

  &__description {
    padding: 4rem 0;
    min-height: 600px;
    background: lighten($default-red, 28%);

    &__box {
      &__row {
        align-items: stretch;
      }
    }

    &__begin,
    &__we {
      padding: 3rem;
      min-height: calc(100% - 6rem);
    }

    &__begin {
      background: black;
      line-height: 2.5;
      color: opposite(black);

      > b {
        padding: .3rem;
        background: $default-red;
        color: opposite($default-red);
      }
    }

    &__we {
      background: $default-red;
      line-height: 2.5;
      color: opposite($default-red);

      > b {
        padding: .3rem;
        background: black;
        color: opposite(black);
      }
    }


  }
}