/*
|--------------------------------------------------------------------------
| FONTS
|--------------------------------------------------------------------------
|
|  Nessa parte devem ser definidas as fontes que serão utilizadas no site.
|
*/

@import url('https://fonts.googleapis.com/css?family=Niramit:300,400,500,700');

/*
|--------------------------------------------------------------------------
| TAGS
|--------------------------------------------------------------------------
|
|  Nessa parte devem ser definidas as pripriedades que serão comum a todas
|  os elementos, em ordem alfabética.
|
*/

html,
body {
  margin: 0;
  height: 100%;
}

a {
  font-size: 1em;
  text-decoration: none;
  color: $dark-color;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: white;
  font-size: 12px;
  font-family: 'Niramit', sans-serif;
  color: #2e2e2e;
}

@media (max-width: 767px) {
  body {
    font-size: 12px
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 12px
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 14px
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 16px
  }
}

input, textarea {
  font-family: 'Niramit', sans-serif;
}

svg text tspan {
  font-family: 'Niramit', sans-serif;
}

textarea {
  width: 100%;
}