/* COLORS UTILITIES */
$color-red: #e53935;
$color-pink: #d81b60;
$color-purple: #8e24aa;
$color-deep-purple: #5e35b1;
$color-indigo: #3949ab;
$color-blue: #1e88e5;
$color-light-blue: #0288d1;
$color-cyan: #00acc1;
$color-teal: #00897b;
$color-green: #43a047;
$color-light-green: #7cb342;
$color-lime: #c0ca33;
$color-yellow: #fdd835;
$color-amber: #ffb300;
$color-orange: #fb8c00;
$color-deep-orange: #f4511e;
$color-brown: #6d4c41;
$color-gray: #757575;
$color-black: #000000;
$color-white: #ffffff;

// PALLETE
$primary: #2f2f2f !default;
$primary-color: $primary;
$secondary-color: $color-blue;

$dark-color: #0f0f0f;
$light-color: white;

// Cores
$colors: (
  "red": #e53935,
  "pink": #d81b60,
  "purple": #8e24aa,
  "deep-purple": #5e35b1,
  "indigo": #3949ab,
  "blue": #1e88e5,
  "light-blue": #0288d1,
  "cyan": #00acc1,
  "teal": #00897b,
  "green": #43a047,
  "light-green": #7cb342,
  "lime": #c0ca33,
  "yellow": #fdd835,
  "amber": #ffb300,
  "orange": #fb8c00,
  "deep-orange": #f4511e,
  "brown": #6d4c41,
  "gray": #757575,
  "black": #000000,
  "white": #ffffff
);
