/* COLORS UTILITIES */
$color-red: #E53935;
$color-pink: #D81B60;
$color-purple: #8E24AA;
$color-deep-purple: #5E35B1;
$color-indigo: #3949AB;
$color-blue: #1E88E5;
$color-light-blue: #0288D1;
$color-cyan: #00ACC1;
$color-teal: #00897B;
$color-green: #43A047;
$color-light-green: #7CB342;
$color-lime: #C0CA33;
$color-yellow: #FDD835;
$color-amber: #FFB300;
$color-orange: #FB8C00;
$color-deep-orange: #F4511E;
$color-brown: #6D4C41;
$color-gray: #757575;
$color-black: #000000;
$color-white: #ffffff;


// PALLETE
$primary-color: $color-green;
$secondary-color: $color-brown;

$dark-color: #0f0f0f;
$light-color: white;