@import "variable";
@import "base";

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Infocorp /////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@keyframes i {
  from {
    stroke-dasharray: 100, 50, 50, 50, 50;
    stroke-opacity: 0.5;
  }
  to {
    stroke-dasharray: 200, 100, 100, 100, 100;
    stroke-opacity: 1;
  }
}

.i, .n, .f, .o, .co, .r, .p {
  // fill: lighten($color-blue, 0%);
}

.i {

}

.n {

}

.f {

}

.o {

}

.co {

}

.r {

}

.p {

}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Box component ////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.box {
  width: 100%;
  height: 100%;
  // Flexbox
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  // End flexbox
  position: relative;
}

// Modernizr, no flexbox available.
.no-flexbox .box {
  display: table;
  table-layout: fixed;
}

.box__top,
.box__middle,
.box__bottom {
  width: 100%;
  position: relative;
}

// Modernizr, no flexbox available.
.no-flexbox .box__top,
.no-flexbox .box__middle,
.no-flexbox .box__bottom {
  display: table-row;
}

.box__top--larger,
.box__middle--larger,
.box__bottom--larger {
  flex: 1;
}

// Modernizr, no flexbox available.
.no-flexbox .box__top--larger,
.no-flexbox .box__middle--larger,
.no-flexbox .box__bottom--larger {
  height: 100%;
}

.box__content {
  height: 100%;
  // Flexbox
  align-items: center;
  justify-content: left;
  display: flex;
  // End flexbox
}

// Modernizr, no flexbox available.
.no-flexbox .box__content {
  height: auto;
  vertical-align: middle;
  display: table-cell;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Navbar component /////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.navbar {
  margin: 1.5% auto 0 auto;
  width: 90%;
  // Flexbox
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
  // End flexbox
  position: relative;
}

.navbar__brand {

}

.navbar__infocorp {
  width: 180px;
}

.navbar__left,
.navbar__right {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

.navbar__left__item,
.navbar__right__item {
  display: inline-block;
}

.navbar__left__link,
.navbar__right__link {
  margin-left: 10px;
  padding: 10px 0 10px 15px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.navbar__left__link:before,
.navbar__right__link:before {
  top: 50%;
  left: 0;
  width: 10px;
  height: 1px;
  background-color: $color-black;
  content: '';
  position: absolute;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// All //////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.featured {
  min-height: 400px;
  height: 100%;
}

.featured .box__middle:before {
  top: 10%;
  right: 5%;
  width: 80%;
  height: 80%;
  content: '';
  background: url("../images/pixels.png");
  position: absolute;
  opacity: 0.3;
}

.featured__content {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  position: relative;
}

.featured__title,
.featured__description {

}

.featured__title {
  margin: 0;
  font-weight: 100;
  font-size: 4em;
  background-color: white;
  display: inline-block;
}

@media (max-width: 767px) {
  .featured__title {
    font-size: 3em;
  }
}

.featured__description {
  margin: 0;
  padding-left: 5%;
  font-size: 1.5em;
  color: $color-green;
  position: relative;
}

.featured__description:before {
  top: 50%;
  left: 0;
  width: 4%;
  height: 2px;
  background-color: $color-black;
  content: '';
  position: absolute;
}

.switch {
  position: relative;
}

.switch__item {
  opacity: 0;
  position: absolute;
}

.switch__item--one {
  animation: switch__one 6s infinite;
  // color: #FF7700;
  opacity: 1;
}

@keyframes switch__one {
  0%, 100% {
    opacity: 0;
    transform: translateY(-20%);
  }
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  5% {
    opacity: 1;
    transform: translateY(0%);
  }
  25% {
    opacity: 1;
    transform: translateY(0%);
  }
  33.33% {
    opacity: 0;
    transform: translateY(20%);
  }
}

.switch__item--two {
  animation: switch__two 6s infinite;
  // color: #C3B000;
  opacity: 0;
}

@keyframes switch__two {
  0%, 100% {
    opacity: 0;
    transform: translateY(-20%);
  }
  33.33% {
    opacity: 0;
    transform: translateY(-20%);
  }
  35% {
    opacity: 1;
    transform: translateY(0%);
  }
  55% {
    opacity: 1;
    transform: translateY(0%);
  }
  66.66% {
    opacity: 0;
    transform: translateY(20%);
  }
}

.switch__item--three {
  animation: switch__three 6s infinite;
  // color: #E10000;
  opacity: 0;
}

@keyframes switch__three {
  0%, 100% {
    opacity: 0;
    transform: translateY(-20%);
  }
  66.66% {
    opacity: 0;
    transform: translateY(-20%);
  }
  70% {
    opacity: 1;
    transform: translateY(0%);
  }
  95% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(20%);
  }
}

.experience {
  margin: 2% auto;
  width: 90%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.experience__left {
  min-width: 300px;
  width: 50%;

}

.experience__left__title {
  margin: 0;
  font-size: 2.5em;
}

.experience__right {
  min-width: 300px;
  width: 40%;
}

.experience__right__illustration {
  width: 100%;
}
